@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  /* font-family: 'Edu VIC WA NT Beginner', cursive; */
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;

  background-color: #ffe624;
}